.container {
   /* margin-top: 7rem; */
}

.container > h2 {
   margin-bottom: 3rem;
}

.contactContent {
   padding: 3rem;
   background-color: #114093;
   color: white;
   display: flex;

}

.contactInfo {
   flex: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.contactInfo > p:first-child {
   color: #E7C700;
   font-size: 14pt;
}

.contactInfo > p {
   width: 80%;
   text-align: center;
}

.credits {
   bottom: 0;
   text-align: left;
   width: 80%;
}

.credits > p {
   margin: 0;
   font-size: 9pt;
}

.credits > p > a{
   color: #E7C700;
}

.credits > p > a:hover{
   text-decoration: none;
}

.formContainer {
   flex: 1;
}

.form {
   padding: 1rem;
   display: flex;
   flex-direction: column;
}

.form > input, .form > textarea {
   padding: .5rem .3rem;
   margin-bottom: 1.5rem;
   border: none;
}

.message {
   min-height: 10rem;
   
}

.buttonContainer {
   display: flex;
   justify-content: center;
}

.button {
   border: none;
   background-color: #E7C700;
   padding: .5rem 3.5rem;
   border-radius: 2rem;
   cursor: pointer;
   color: white;
   font-size: 16pt;
   transition: .3s;
   user-select: none;
}

.button:hover {
   background-color: #C7A700;
}

@media screen and (max-width: 700px) {
   .contactContent {
      flex-direction: column;
   }
   .contactInfo {
      order: 2;
   }
}

@media screen and (max-width: 410px) {
   .contactContent {
      padding: 3rem 1rem;
   }
}