.container {
   padding-top: 7rem;
   padding-bottom: 7rem;
   background: linear-gradient(rgba(17, 64, 147, .5), rgba(17, 64, 147, 0));
}

.financialPartnerContainer {
   display: flex;
   justify-content: center;
   margin-top: 3rem;
}

.text {
   width: 80%;
   text-align: center;
}