.mainBanner {
   background-image: url('/construtora4.jpg');
   background-size: cover;
   color: white;
   position: relative;
   z-index: -2;
   padding: 3rem;
}

.overlay {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(87, 78, 67, .49);
   position: absolute;
   z-index: -1;
}

.content {
   display: flex;
   min-height: 20rem;
}

.text {
   flex: 6;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   width: 100%;
   min-height: 100%;
   text-align: center;
}

.formContainer {
   flex: 4;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   padding: 0 2rem;
}

.h1 {
   font-family: 'Bebas Neue', cursive;
   font-weight: 300;
   font-size: 40pt;
   margin-bottom: 0;
}

.p {
   margin-top: 0;
   font-size: 10pt;
}

.form {
   padding: 2rem 1rem 1rem;
   background-color: white;
   max-width: 240px;
   position: relative;
   /* transform: translateY(9rem); */
}

.input {
   width: 100%;
   padding: .5rem .3rem;
   margin-bottom: 1rem;
   border: none;
   border-bottom: 1px solid #969999;
}

.input:focus {
   border-bottom: 2px solid #3D3D3D;
}

.button {
   background-color: #114093;
   display: block;
   text-align: center;
   border-radius: 2rem;
   width: 100%;
   padding: .5rem 0;
   margin: 1rem 0;
   user-select: none;
   cursor: pointer;
   font-size: 14pt;
   border: none;
   color: white;
}

@media screen and (max-width: 800px) {
   .mainBanner {
      min-height: 42rem;
      background-position: center;
   }

   .content {
      flex-direction: column !important;
   }
}

@media screen and (max-width: 450px) {
   .mainBanner {
      padding: 3rem 1rem !important;
   }

   .text {
      margin-top: 1rem;
   }

   .h1 {
      font-size: 34pt;
   }

   .form {
      max-width: 300px;
   }
}