.background {
   background-color: rgba(87, 78, 67, .83);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 0;
   width: 100%;
   display: flex;
   justify-content: center;
}

.imageBackground {
   width: 100%;
   min-height: 80vh;
   background: url('/construtora4.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   position: absolute;
   z-index: -1;
}

.container {
   width: 80%;
   min-height: fit-content;
   background-color: white;
   margin: 4rem 0;
   filter: drop-shadow(0 2rem 2rem #222);
   position: relative;
}

@media screen and (max-width: 1100px) {
   .container {
      width: 90%;
   }
}