.container {
   /* margin-top: 7rem; */
   padding-top: 5rem;
   padding-bottom: 5rem;
   color: white;
   background: linear-gradient(rgba(17, 64, 147, .8), rgba(17, 64, 147, .5));
}

.subHeading {
  display: flex;
  justify-content: center;
}
.subHeading > p {
   text-align: center;
   max-width: 320px;
}

.ourServiceContainer {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 4rem;
}

/* .iconContainer {
} */

.icon {
   font-size: 50pt;
   color: #E7C700;
}

.text {
   text-align: center;
   width: 80%;
   color: white;
}